*{
    margin: 0px;
    font-family: sans-serif;
}
body{
    background-color: whitesmoke;

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board{
    /* border: 2px solid; */
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex: 1;
}
.column{
    background-color: rgb(216, 191, 193);
    flex: 1;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
}